 /*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
  margin: 0;
  background: rgb(243, 243, 243);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem; /* =14px */
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}


/*
 * Container Styles
*/



header {
  background: #fff;
}

header .logo {
  border-right: 1px  solid RGB(228, 230, 228);
  background: #fff;
}

.profile {
  margin-bottom: 1.5rem;
}


/*
 * Section styles
*/

.hero-profile  {
  text-align: center;
}

.hero-profile{
  background: rgb(255, 255, 255);
  padding: 1.5625rem;
}

.details .about {
/*  padding: 1.25rem;
*/  
  font-size: 0.8125rem;
  line-height: 1.375rem;/* 22px / 16px */
}

.details section {
  border-bottom: 1px solid rgb(220, 224, 224);
  padding: 1rem 0 1.25rem 0;
}

.details {
  padding: 1.25rem;
}

section.photos {
  border-bottom: none;
}

/*
 * Image styles
*/

.hero  {
  width: 100%;
}
  
.owner {
  border-radius: 50%;
  margin-bottom: .375rem;
}


.details .photos img {
 display: block;
 width: 100%;
  margin-bottom: .5rem;
}


/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}


/*
 * Text styles
*/

.location {
  margin-bottom: 1.25rem;
}


.name,  .relationship {
  margin-bottom: .1875rem;
}

.relationship, .name {
  font-size: .875rem; 
  color: #909597;
}

.pet-details h1 {
  font-size: 1.375rem; 
  color: #666a6c;
  margin-bottom: .3125rem;
}

.name {
  font-weight: bold;
}

.price {
  margin-bottom: .8125rem;
  font-weight: 600;
  font-size: 1.375rem;
}

.about-text a {
  display: block;
  text-align: center;
  margin-bottom: 0.9375rem; /* 40px */
}

.about-text h1 {
  font-size: 1rem; 
  font-weight: bold;
  margin: .5rem 0 1.5rem 0; 
  text-align: center;
}

.about-text p {
  margin-bottom: 1.25rem; /* 20px */
  color: #565A5C;
}

.details h4 {
  margin-bottom: 0.625rem;
}

.details li {
  margin-bottom: 0.3125rem;
}



section h4, h5 {
  margin: 0.625rem 0 0.3125rem 0; /* 10px 0px 5px 0px */
}

.care-category {
  padding-top: 0.3125rem; /* 5px */
}

.care-category p {
  display: inline;
}

.games h5 {
  margin-bottom: 0.625rem; /* 10px */
}


/*
 * Icon styles
*/


.icon-1, .icon-2, .icon-3 {
  float: left;
  width: 33.3%;
}

.icons img {
  height: 30px;
  margin-bottom: .1875rem;
}

/*
 * Divider styles
*/


/*.divider {
  width: 90%;
  height: 2px;
  background: RGB(228, 230, 228);
  margin:0 auto;
}

.divider-full {
  width: 100%;
  height: 2px;
  background: RGB(228, 230, 228);
}

.care-category:nth-child(3n) {
  margin-bottom: 30px;
}

*/

/*
 * Media Queries styles
*/



@media only screen and (min-width: 1060px) {

.container {
  width: 1040px;
  margin: 0 auto;
}


.column {
  float: left;
}

section .profile {
  width: 660px;
  border-right: 1px solid #DCE0E0;
}

section .booking {
  width: 380px;x
}

.owner-details {
  width: 20%;
}

.pet-details {
  width: 80%;
  text-align: left;
}

.pet-details .icons .icon-1, .icon-2, .icon-3 {
  width: inherit;
  margin-right: 50px;
}

.pet-details .icons img {
  display: block;
  margin: .1875rem auto .1875rem;
}


.pet-details h1 {
  margin-bottom: 10px;
}

.button {
  width: 275px;
  margin: auto;
}

.about-text a {
  text-align: left;
}


.main {
  width: 690px;
}

  .details h4 {
    width: 46px;
  }

  .details .about {
    text-align: left;
  }

  .details .care .column, .details .games .column {
    margin-right: 5.9rem;
  }

  .details .games li img {
    padding-right: 0.5rem;
  }

  /*
   * photo styles
  */

   .details .photos {
    text-align: center;
  }

  .details .photos figure {
    display: inline;
  }

  .details .photos img {
    display: inline;
    width: 200px;
    margin: 0 0.85rem;
  }



}




